<!-- mobile foot nav -->
<div class="foot-nav">
  <a class="foot-link" routerLink="/dashboard" (click)="scrollToTop($event)">
    <mat-icon class="fa fa-user fa-lg"></mat-icon>
    <span>Profile</span>
  </a>
  <button class="menu text-white" [matMenuTriggerFor]="appMenu">
    <mat-icon class="fa fa-book fa-lg menu-icon"></mat-icon>
    <p>Browse</p>
  </button>
  <mat-menu class="menu" #appMenu="matMenu">
    <a
      class="link-wrapper"
      mat-menu-item
      routerLink="/characters"
      (click)="scrollToTop($event)"
    >
      <mat-icon class="fa fa-users fa-lg text-white"></mat-icon>
      <div class="text-white">Characters</div>
    </a>
    <a
      class="link-wrapper"
      mat-menu-item
      routerLink="/episodes"
      (click)="scrollToTop($event)"
    >
      <mat-icon class="fa fa-film fa-lg text-white"></mat-icon>
      <div class="text-white">Episodes</div>
    </a>
    <a
      class="link-wrapper"
      mat-menu-item
      routerLink="/locations"
      (click)="scrollToTop($event)"
    >
      <mat-icon class="fa fa-globe fa-lg text-white"></mat-icon>
      <div class="text-white">Locations</div>
    </a>
  </mat-menu>
  <a class="foot-link" (click)="logOut()">
    <mat-icon class="fa fa-sign-out fa-lg"></mat-icon>
    <span>Log out</span>
  </a>
</div>
