.login {
  background: url("https://s1.thcdn.com/design-assets/images/licensed-images/rickandmorty.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40.625rem 40.625rem;
  width: 100%;
}
.form {
  background-color: rgba(33, 227, 46, 0.5);
  width: 70%;
  margin: auto;
  box-shadow: 0rem 0.9375rem 0.9375rem 0.3125rem rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 64rem) {
  .login {
    margin: 0;
  }
  .form {
    width: 100%;
  }
  .content {
    width: 50%;
  }
}

@media only screen and (max-width: 48rem) {
  .login {
    margin: 0;
  }
  .form {
    width: 100%;
  }
  .content {
    width: 60%;
  }
  a {
    color: black;
    font-weight: bold;
  }
}

@media only screen and (max-width: 26.625rem) {
  .page {
    padding: 0;
  }
  .login {
    width: 100%;
    background-size: 28.125rem 28.125rem;
  }
  .content {
    width: 100%;
  }
}
