mat-card{
    max-width: 18.75rem;
    min-width: 18.75rem;
    width: auto;
    height: auto;
    display: inline-block;
    background-color: white;
    border-radius: 3%;
    margin-bottom: 3%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

mat-card-content{
    padding-bottom: 0!important;
    white-space: nowrap;
    overflow:scroll;
    overflow-y: auto;
    overflow-x: auto;
    text-align: center;
}

mat-card-content::-webkit-scrollbar{
    width: 0;
    height: 0;
}

mat-card-title{
    white-space: nowrap;
    overflow:scroll;
    overflow-y: auto;
    overflow-x: auto;
    text-align: center;
}

mat-card-title::-webkit-scrollbar{
    width: 0;
    height: 0;
}

p{
    font-weight: bold;
}