.searchIcon{
    margin-top: 12px;
    position: absolute;
    font-size: 18pt;
}
.searchInput{
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 30px;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 5%;
    box-sizing: none;
    outline: none;
    font-size: 14pt;
}
.searchInput:active{
    border: none;
}
.searchBar{
    width: 350px;
    height: 45px;
    background-color: white;
    border-radius: 30px;
    margin-left: 8%;
}
.mat-icon{
    cursor: pointer;
}


