.filters{
    display: inline-block;
}

.card-list{
    float:none!important;
    width: 100%;
}

.sort{
    z-index: 10;
    position: relative;
}

.sort_icon{
    vertical-align: bottom;
}

pagination-controls{
    white-space: nowrap;
}

.spinner{
    margin: 0 auto;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #97ce4c;
}

@media only screen and (min-width: 450px) {
   .filters{
    z-index: 50;
    width: 20%;
    display: inline-block;
   }
   .card-list{
    float: right!important;
    width: 80%;
   }
}
@media only screen and (max-width: 450px){
       .card-list{
        float: right!important;
       }
       .cards{
        margin-bottom: 55px;
       }
}