<!-- top nav -->
<div class="navigation flex-row-reverse p-2">
    <div class="navbar-item">
      <a class="nav-link" (click)="logOut()">
        <mat-icon class="fa fa-sign-out fa-lg text-white"></mat-icon>
        <p>Log out</p>
      </a>
    </div>

    <div class="navbar-item">
      <a class="nav-link" routerLink="/dashboard">
        <mat-icon class="fa fa-user fa-lg text-white"></mat-icon>
        <p>Profile</p>
      </a>
    </div>

    <div class="navbar-item">
        <a class="nav-link" routerLink="/characters">
          <mat-icon class="fa fa-users fa-lg text-white"></mat-icon>
          <p>Characters</p>
        </a>
    </div>
    <div class="navbar-item">
      <a class="nav-link" routerLink="/episodes">
        <mat-icon class="fa fa-film fa-lg text-white"></mat-icon>
        <p>Episodes</p>
      </a>
    </div>

    <div class="navbar-item">
      <a class="nav-link" routerLink="/locations">
        <mat-icon class="fa fa-globe fa-lg text-white"></mat-icon>
        <p>Loactions</p>
      </a>
    </div>

    <div class="mx-auto">
      <app-search-bar *ngIf="router.url === '/characters'"></app-search-bar>
    </div>
</div>

<!-- mobile top nav -->
<div class="toolbar" *ngIf="router.url === '/characters'">
  <div class="mx-auto">
    <app-search-bar></app-search-bar>
  </div>
</div>

<!-- foot nav -->
<app-foot-nav></app-foot-nav>