<!-- top nav -->
<div class="navigation flex-row-reverse p-2">
    <div class="navbar-item">
      <a class="nav-link" (click)="logOut()">
        <mat-icon class="text-white">logout</mat-icon>
        <p>Log out</p>
      </a>
    </div>

    <div class="navbar-item">
      <a class="nav-link" routerLink="/dashboard">
        <mat-icon class="text-white">person</mat-icon>
        <p>Profile</p>
      </a>
    </div>

    <div class="navbar-item">
        <a class="nav-link" routerLink="/browse">
          <mat-icon class="text-white">home</mat-icon>
          <p>Browse</p>
        </a>
    </div>
    <div class="mx-auto">
      <app-search-bar *ngIf="router.url === '/browse'"></app-search-bar>
    </div>
</div>

<!-- mobile top nav -->
<div class="toolbar" *ngIf="router.url === '/browse'">
  <div class="mx-auto">
    <app-search-bar></app-search-bar>
  </div>
</div>

<!-- foot nav -->
<app-foot-nav></app-foot-nav>