.navigation {
    background-color: #97ce4c;
    display: flex;
    flex-direction:row-reverse;
    height: 9%;
    align-items: center;
}

.nav-item{
    position: absolute;
}

.mat-icon {
    color: black;
}

.mat-toolbar {
    background-color: #97ce4c;
    display: none;
}

mat-sidenav-container{
    height: 100vh;
}

.sidebar{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
}

.navbar{
    display: contents;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: inherit;
    background-color: rgba(255, 255, 255, 0);
    z-index: 100;
}
.nav-link{
    font-size: 14pt;
    color: white;
}
.nav-link:hover{
    text-shadow: 0px 0px 3px black;
    
}
.navbar-item{
    text-align: center;
    padding: 1rem;
    margin-top: 12px;
}
a{
    cursor: pointer;
    white-space: nowrap;
}


@media only screen and (max-width: 450px) {

    .sidebar{
        display: inline-block;
    }
   
    .navigation {
        display: none;
    }
    .mat-toolbar {
        background-color: #97ce4c;
        display: flex;
    }
    .mat-sidenav{
        width: 45%;
    }
    .nav-link{
        color: black;
    }
}

