<!-- [ngClass]="isMobile ? 'navigation-mobile' : 'navigation'" -->
<div class="navigation flex-row-reverse p-2">
    <div class="navbar-item">

      <a class="nav-link" (click)="logOut()">
        <mat-icon class="text-white">logout</mat-icon>
        <p>Log out</p>
      </a>
    </div>

    <div class="navbar-item">

      <a class="nav-link" routerLink="/dashboard">
        <mat-icon class="text-white">person</mat-icon>
        <p>Profile</p>
      </a>
    </div>

    <div class="navbar-item">
        <a class="nav-link" routerLink="/browse">
          <mat-icon class="text-white">home</mat-icon>
          <p>Browse</p>
        </a>
    </div>
    <div class="mx-auto">
      <app-search-bar></app-search-bar>
    </div>
  </div>

<!-- top nav -->
<mat-toolbar class="sticky-top">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <app-search-bar></app-search-bar>
</mat-toolbar>

<!-- sidenav -->
<div class="sidebar">
  <mat-sidenav-container class="navbar">
    <mat-sidenav #sidenav mode="over" autosize>
      <!-- <app-top-navigation-bar></app-top-navigation-bar> -->
      <div class="column-reverse p-2">
        <div class="p-1">
          <a class="nav-link" (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon> Log Out
          </a>
          <hr />
        </div>

        <div class="p-1">
          <a class="nav-link" routerLink="/dashboard">
            <mat-icon> person_pin</mat-icon> Profile
          </a>
          <hr />
        </div>

        <div class="p-1">
          <a class="nav-link" routerLink="/browse">
            <mat-icon>people</mat-icon> Characters
          </a>
          <hr />
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenavCont"> </mat-sidenav-content>
  </mat-sidenav-container>
</div>