mat-card {
  text-align: center;
  width: 70%;
  min-width: 21.875rem;
  margin-top: 3%;
  margin-left: 1%;
  box-shadow: 0 0 0.9375rem black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.5rem;
}
.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.email {
  margin-left: -2.5rem;
}
mat-card-content {
  align-self: center;
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  justify-content: center;
}

.info_div {
  justify-content: center;
  padding-bottom: auto;
}

.info {
  width: fit-content;
  padding-bottom: 5%;
}
.news-wrapper {
  display: flex;
  flex-direction: row;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
}
@media only screen and (min-width: 28.125rem) {
  .profile-picture {
    width: 15rem;
    align-self: center;
    margin-top: 0.625rem;
  }
}
@media only screen and (max-width: 28.125rem) {
  .profile-picture {
    max-width: 9.375rem;
    align-self: center;
    margin-top: 0.625rem;
  }
  .info {
    padding-bottom: 15%;
  }
}

@media only screen and (min-width: 64rem) {
  .info {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
