mat-card{
    text-align: center;
    width: fit-content;
    min-width: 220px;
    margin-top: 3%;
    margin-left: 1%;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0 0 15px black;
}

mat-card-content{
    align-self: center;
    display: flex;
    flex-direction: row;
}

.main{
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 450px){
    mat-card{
        width: 40%;
    }
    .profile-picture{
        width: 200px;
        align-self: center;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 450px){
    .profile-picture{
        max-width: 150px;
        align-self: center;
        margin-top: 10px;
    }
}