mat-card{
    text-align: center;
    width: 70%;
    min-width: 220px;
    margin-top: 3%;
    margin-left: 1%;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0 0 15px black;
}

mat-card-content{
    align-self: center;
    display: flex;
    flex-direction: row;
}

.main{
    display: flex;
    justify-content: center;
}

.info_div{
    justify-content: center;
    padding-bottom: auto;
}

.info{
    width: fit-content;
}

@media only screen and (min-width: 450px){
    .profile-picture{
        width: 240px;
        align-self: center;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 450px){
    .profile-picture{
        max-width: 150px;
        align-self: center;
        margin-top: 10px;
    }
    .info{
        margin-bottom: 300px;
    }
}

@media only screen and (min-width: 1024px){
    .info{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 30%;
    }

    .info_div{
        padding-bottom: 12%;
    }
}