<app-navigation></app-navigation>

<mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <h2 class="p-2 my-auto text-black">Rick-N-Morty</h2>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item>Browse</a>
            <a mat-list-item>Profile</a>
            <a mat-list-item>Log out</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="dashboard container-fluid mx-auto row">
            <div class="mt-5 text-center">
                <h2 class="fs-1">Welcome {{user.name}}</h2>
                <p>Last login time: {{user.lastLogin }}</p>
            </div>
            <div class="container-fluid mx-auto text-center">
                <app-search-bar></app-search-bar>
            </div>
            <h4>Testing NgRx</h4>
            <p *ngFor="let user of userItems">
                {{user.password}} Gunārs
            </p>
            {{userItems}}
            <p>LOL</p>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<!-- <div class="container-fluid mx-auto row h-100">
    <div class="mt-5 text-center">
        <h2 class="fs-1">Welcome {{user.name}}</h2>
        <p *ngIf="user.lastLogin">Last login time: {{user.lastLogin }}</p>
        <p *ngIf="!user.lastLogin">First time loging in!</p>
    </div>
</div>-->
<h4>Testing NgRx</h4>
    <p *ngFor="let user of userItems">
        {{user.name}}
    </p>
<h1>Characters?</h1>
    <p *ngFor="let user of characterItems">
        {{user.name}}
    </p>
