.navigation {
    background-color: #97ce4c;
    display: flex;
    flex-direction:row-reverse;
}
.mat-toolbar {
    background-color: #97ce4c;
}
.mat-icon {
    color: black;
}
.content{
    height: 88vh;
}


@media only screen and (max-width: 450px) {
   
    .navigation {
        display: none;
    }
}