<div class="container p-2">
    <div class="toggle">
        <button mat-button class="toggle" (click)="showSidenav()">Filters</button>
    </div>
    <div [class.visible]="visible" class="sidebar">
        <form>
            <hr>
            <mat-radio-group name="gender" [(ngModel)]="gender" (change)="onGender()" class="select">
                <h1>Gender</h1>
                <div>
                    <mat-radio-button value="female">Female</mat-radio-button>
                </div>
                <div>
                    <mat-radio-button value="male">Male</mat-radio-button>
                </div>
                <div>
                    <mat-radio-button value="genderless">Genrderless</mat-radio-button>
                </div>
                <div>
                    <mat-radio-button value="unknown">Unknown</mat-radio-button>
                </div>
            </mat-radio-group>
            <hr>
            <mat-radio-group name="species" [(ngModel)]="species" (change)="onSpecies()" class="select">
                <h1>Species</h1>
                <div>
                    <mat-radio-button value="alien">Alien</mat-radio-button>
                </div>
                <div>
                    <mat-radio-button value="human">Human</mat-radio-button>
                </div>
                <div>
                    <mat-radio-button value="humanoid">Humanoid</mat-radio-button>
                </div>
                <div>
                    <mat-radio-button value="robot">Robot</mat-radio-button>
                </div>
            </mat-radio-group>
            <hr>
            <h1>Status</h1>
            <mat-select placeholder="None" name="status" [(value)]="status" (selectionChange)="onStatus()">
                <div>
                    <mat-option value="dead">Dead</mat-option>
                </div>
                <div>
                    <mat-option value="alive">Alive</mat-option>                    
                </div>
                <div>
                    <mat-option value="unknown">Unknown</mat-option>
                </div>
            </mat-select>
        </form>
    </div>
</div>
    
