<div class="container p-2">
    <button mat-button class="" (click)="sidenav.toggle()">Filters</button>
    <mat-sidenav-container class="navbar">
        <mat-sidenav #sidenav mode="push">
            <mat-nav-list>
                <form>
                    <hr>
                    <mat-radio-group class="select">
                        <h1>Gender</h1>
                        <div>
                            <mat-radio-button>Female</mat-radio-button>
                        </div>
                        <div>
                            <mat-radio-button>Male</mat-radio-button>
                        </div>
                        <div>
                            <mat-radio-button>Genrderless</mat-radio-button>
                        </div>
                        <div>
                            <mat-radio-button>Unknown</mat-radio-button>
                        </div>
                    </mat-radio-group>
                    <hr>
                    <mat-radio-group class="select">
                        <h1>Species</h1>
                        <div>
                            <mat-radio-button>Alien</mat-radio-button>
                        </div>
                        <div>
                            <mat-radio-button>Human</mat-radio-button>
                        </div>
                        <div>
                            <mat-radio-button>Humanoid</mat-radio-button>
                        </div>
                    </mat-radio-group>
                    <hr>
                    <mat-radio-group class="select">
                        <h1>Status</h1>
                        <div>
                            <mat-radio-button>Dead</mat-radio-button>
                        </div>
                        <div>
                            <mat-radio-button>Alive</mat-radio-button>
                        </div>
                        <div>
                            <mat-radio-button>Unknown</mat-radio-button>
                        </div>
                    </mat-radio-group>
                    <hr>
                </form>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav">
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
    
