/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackBar {
    --mdc-snackbar-container-color: #f0e14a;
    --mdc-snackbar-supporting-text-color: black;
    --mat-snack-bar-button-color: black;
    
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0,0,0,0)!important;
}

.ngx-pagination .current{
    background: #97ce4c!important;
    border-radius: 50%;
}

